<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of repositoryService.clients" (click)="selected(client)" [ngStyle]="{backgroundColor: client == selectedClient ? '#e0ffe0' : 'white', color: (repositoryService.getBiggestDebtorId() | async) === client.id ? 'red' : ((repositoryService.getBiggestInvestorId() | async) === client.id ? 'green' : 'black')}">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.phone}}</td>
          <td>{{(repositoryService.getClientDebtSum(client) | async) + (repositoryService.getClientInvestmentSum(client) | async)}}</td>
          <td><div class="glyphicon glyphicon-remove" (click)="removeClient(client)"></div></td>
        </tr>
      </tbody>
    </table>
</div>