<investments-list-component [selectedInvestment]="selectedInvestment"
                        (investmentSelected)="selectedInvestment = $event"></investments-list-component>

<hr>

<investment-edit-component [originalInvestment]="selectedInvestment" (updateInvestment)="updateInvestment($event)"
                       (createInvestment)="createInvestment($event)"
                       (investmentRemoved)="selectedInvestment=null"></investment-edit-component>