<form #formDetails="ngForm" (ngSubmit)="updateLoan(formDetails)">
  <div ngModelGroup="loan">

    <div class="form-group row">
      <label for="loanIdTextInputElement" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanIdTextInputElement" name="id" readonly
               [ngModel]="originalLoan.id"
               #id>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanAmountTextInputElement" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanAmountTextInputElement" name="amount" required pattern="\d{1,5}(\.\d{2})?"
               [ngModel]="originalLoan.amount"
               #loanAmountTextInputElement
               #loanAmountFormControl="ngModel">
        <div *ngIf="loanAmountFormControl.dirty === true">
          <div *ngIf="loanAmountTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Loan amount should be formated like xxx.xx
            </div>
          </div>
          <div *ngIf="loanAmountTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Loan amount cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanRepayAmountTextInputElement" class="col-sm-2 col-form-label">Repay amount</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanRepayAmountTextInputElement" name="repayAmount" required pattern="\d{1,5}(\.\d{2})?"
               [ngModel]="originalLoan.repayAmount"
               #loanRepayAmountTextInputElement
               #loanRepayAmountFormControl="ngModel">
        <div *ngIf="loanRepayAmountFormControl.dirty === true">
          <div *ngIf="loanRepayAmountTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Loan repay amount should be formated like xxx.xx
            </div>
          </div>
          <div *ngIf="loanRepayAmountTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Loan repayAmount cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanAgreementRepayDateTextInputElement" class="col-sm-2 col-form-label">Agreement repay date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanAgreementRepayDateTextInputElement" name="agreementRepayDate" required pattern="\d{4}-\d{2}-\d{2}"
               [ngModel]="originalLoan.agreementRepayDate"
               #loanAgreementRepayDateTextInputElement
               #loanAgreementRepayDateFormControl="ngModel">
        <div *ngIf="loanAgreementRepayDateFormControl.dirty === true">
          <div *ngIf="loanAgreementRepayDateTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Loan agreement repay date format should be yyyy-mm-dd
            </div>
          </div>
          <div *ngIf="loanAgreementRepayDateTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Loan agreement repay date cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanActualRepayDateTextInputElement" class="col-sm-2 col-form-label">Actual repay date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanActualRepayDateTextInputElement" name="actualRepayDate" pattern="()|(\d{4}-\d{2}-\d{2})"
               [ngModel]="originalLoan.actualRepayDate"
               #loanActualRepayDateTextInputElement
               #loanActualRepayDateFormControl="ngModel">
        <div *ngIf="loanActualRepayDateFormControl.dirty === true">
          <div *ngIf="loanActualRepayDateTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Loan actual repay date format should be yyyy-mm-dd
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanStartDateTextInputElement" class="col-sm-2 col-form-label">Start date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanStartDateTextInputElement" name="startDate" required pattern="\d{4}-\d{2}-\d{2}"
               [ngModel]="originalLoan.startDate"
               #loanStartDateTextInputElement
               #loanStartDateFormControl="ngModel">
        <div *ngIf="loanStartDateFormControl.dirty === true">
          <div *ngIf="loanStartDateTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Loan start date format should be yyyy-mm-dd
            </div>
          </div>
          <div *ngIf="loanStartDateTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Loan start date cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanRepayedTextInputElement" class="col-sm-2 col-form-label">Has repayed</label>
      <div class="col-sm-10">
        <input class="form-control" id="loanRepayedTextInputElement" name="repayed" required pattern="(true)|(false)"
               [ngModel]="originalLoan.repayed"
               #loanRepayedTextInputElement
               #loanRepayedFormControl="ngModel">
        <div *ngIf="loanRepayedFormControl.dirty === true">
          <div *ngIf="loanRepayedTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Has repayed should be formated true/false
            </div>
          </div>
          <div *ngIf="loanRepayedTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Has repayed should be specified</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="loanClientIdTextInputElement" class="col-sm-2 col-form-label">Client id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loanClientIdTextInputElement" name="clientId" required
               pattern="\d+"
               [ngModel]="originalLoan.clientId"
               #loanClientIdTextInputElement
               #loanClientIdFormControl="ngModel">
        <div *ngIf="loanClientIdFormControl.dirty === true">
          <div *ngIf="loanClientIdTextInputElement.validity.patternMismatch === true">
            <div class="alert alert-danger">Client id should contain digits
            </div>
          </div>
          <div *ngIf="loanClientIdTextInputElement.validity.valueMissing === true">
            <div class="alert alert-danger">Client id cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formDetails.valid === false || id.value.length === 0">Update</button>
  <input type="button" (click)="createLoan(formDetails)" class="btn btn-primary" [disabled]="formDetails.valid === false" value="Create"/>
  <input type="button" (click)="removeLoan(formDetails)" class="btn btn-primary" [disabled]="formDetails.valid === false || id.value.length === 0" value="Remove"/>
</form>

