<div class="navbar-full">
  <nav-bar-component class="col-md-12"></nav-bar-component>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 body-section">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-3"></div>
</div>