.body-section {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #dcdcdc;
}

@media (min-width: 600px) {
    .body-section {
        padding: 15px;
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .body-section {
        padding: 10px;
        margin: 5px;
    }
}

nav-bar-component {
    display: block;
    padding: 0px;
    margin: 0px;
}