<nav class="navbar navbar-light bg-faded">
  <span class="navbar-text">
    <strong>Investments and Loans</strong>
  </span>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['clients-crud']">Clients CRUD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['investments-crud']">Investments CRUD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['loans-crud']">Loans CRUD</a>
    </li>
  </ul>
</nav>
