<loans-list-component [selectedLoan]="selectedLoan"
                        (loanSelected)="selectedLoan = $event"></loans-list-component>

<hr>

<loan-edit-component [originalLoan]="selectedLoan" (updateLoan)="updateLoan($event)"
                       (createLoan)="createLoan($event)"
                       (loanRemoved)="selectedLoan=null"></loan-edit-component>
