<div class="table-responsive">
  <table class="table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>id</th>
        <th>Amount</th>
        <th>Repay amount</th>
        <th>Agreement repay date</th>
        <th>Actual repay date</th>
        <th>Start date</th>
        <th>Repayed</th>
        <th>Client id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of repositoryService.loans" (click)="selected(loan)" [ngStyle]="{backgroundColor: loan == selectedLoan ? '#e0ffe0' : 'white'}">
        <td>{{loan.id}}</td>
        <td>{{loan.amount}}</td>
        <td>{{loan.repayAmount}}</td>
        <td>{{loan.agreementRepayDate}}</td>
        <td>{{loan.actualRepayDate}}</td>
        <td>{{loan.startDate}}</td>
        <td>{{loan.repayed}}</td>
        <td>{{loan.clientId}}</td>
        <td><div class="glyphicon glyphicon-remove" (click)="removeLoan(loan)"></div></td>
      </tr>
    </tbody>
  </table>
</div>