table {
    background-color: white;

}

.glyphicon-remove {
    color: #ff5050;
}

table {
    border-radius: 5px;
}

@media (max-width: 600px) {
    table {
        font-size: smaller;
        margin: 0px;
        padding: 0px;
    }
}