<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Invested amount</th>
          <th>Returned amount</th>
          <th>Invested date</th>
          <th>Returned date</th>
          <th>Client id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of repositoryService.investments" (click)="selected(investment)" [ngStyle]="{backgroundColor: investment == selectedInvestment ? '#e0ffe0' : 'white'}">
          <td>{{investment.id}}</td>
          <td>{{investment.investedAmount}}</td>
          <td>{{investment.returnedAmount}}</td>
          <td>{{investment.investedDate}}</td>
          <td>{{investment.returnedDate}}</td>
          <td>{{investment.clientId}}</td>
          <td><div class="glyphicon glyphicon-remove" (click)="removeInvestment(investment)"></div></td>
        </tr>
      </tbody>
    </table>
</div>