<clients-list-component [selectedClient]="selectedClient" (clientSelected)="selectedClient = $event"></clients-list-component>

<hr>

<client-edit-component [originalClient]="selectedClient" (updateClient)="updateClient($event)" (createClient)="createClient($event)" (clientRemoved)="selectedClient=null"></client-edit-component>